<div class="service px-4 py-5 section-padding" id="contact_us">
    <div class="titie-row row mb-3">
        <h2 class="fw-bolder">Contact Us</h2>
        <p>You can contact me.</p>
    </div>
    <div class="contact-row m-0 mt-5 row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="shadow-md row p-4 m-0 rounded bg-white">
                <div class="col-md-3 text-center align-self-center">
                    <i class="bi fs-1 bi-headphones"></i>
                </div>
                <div class="col-md-9">
                    <h6 class="fs-7 fw-bolder">Phone</h6>
                    <ul>
                        <li>{{contact?.phone}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="shadow-md row p-4 m-0 rounded bg-white">
                <div class="col-md-3 text-center align-self-center">
                    <i class="bi fs-1 bi-headphones"></i>
                </div>
                <div class="col-md-9">
                    <h6 class="fs-7 fw-bolder">Email</h6>
                    <ul>
                        <li>{{contact?.email}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="shadow-md row p-4 m-0  rounded bg-white">
                <div class="col-md-3 text-center align-self-center">
                    <i class="bi fs-1 bi-headphones"></i>
                </div>
                <div class="col-md-9">
                    <h6 class="fs-7 fw-bolder">Address</h6>
                    <ul>
                        <li>{{contact?.address}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>