<div  class="main-content">
           
    <!--########################## Profile Starts Here ############################# -->
    
    <div class="profile-head">
       <div class="row vh-100">
           <div class="col-xl-6 text-center mx-auto align-self-center ">
                <div class="imgcover mb-4">
                    <img src="assets/images/square.jpg" class="rounded-pill bg-white p-2 shadow" alt="">
                </div>
                <b class="fs-6">Hellow I am, Eiden Jackeson</b>
                <h1 class="fw-bold mb-4 fs-1">Full Stack Develper</h1>
                <p>Mauris cursus libero eu gravida malesuada. Vivamus efficitur sollicitudin tincidunt. Vivamus iaculis, est et posuere facilisis, sem nisi volutpat enim, eget hendrerit libero ligula quis lacus</p>
                <ul>
                    <li></li>
                </ul>
                <button class="btn btn-outline-primary fw-bolder fs-7 px-4 py-2 mt-3 rounded-pill">Download Resume</button>
            </div>
       </div>
    </div>
    
    <!--########################## About Us Starts Here ############################# -->
    
    <div id="about" class="about px-4 bg-white py-5">
        <div class="titie-row row mb-3">
            <h2 class="fw-bolder">About Me</h2>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p><b>I am, Eiden Jackeson</b></p>
                <p class="pt-2 fs-6 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum id tempor libero. Praesent vel magna eget purus dignissim interdum. Sed efficitur malesuada dui, ac interdum ante scelerisque non. Curabitur quis euismod lorem, vel rutrum ante. Sed non vestibulum turpis. Phasellus sit amet nisl in diam congue tristique. Nullam convallis lectus ac nisl iaculis, non posuere ipsum interdum. Vivamus nec justo ac sapien convallis maximus.</p>
                
                <h4 class=" fs-5 my-3 mt-4 fw-bolder">What is my skill level ?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum sit nibh amet egestas tellus.</p>
                
                <div class="row skill-set">
                    <div class="col-md-6 py-3">
                       <h6 class="fw-bold">React.Js</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                     <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Vue.Js</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </div>
                    <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Angular.Js</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                    </div>
                    
                     <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Laravel</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Django</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Next Js</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">66%</div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Phoptoshop</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 82%;" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">82%</div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 py-3">
                        <h6 class="fw-bold">Sketch</h6>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Example with label" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="assets/images/profile.jpg" alt="">
            </div>
        </div>
    </div>
    
    <!--########################## Services Starts Here ############################# -->
    
    <div id="service" class="service px-4 py-5">
         <div class="titie-row row mb-3">
            <h2 class="fw-bolder">Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum sit nibh amet egestas tellus.</p>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white text-center p-4">
                    <i class="bi fs-1 bi-boxes"></i>
                    <h5 class="mt-3 fs-6 fw-bold">Website Design</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet</p>
               </div>
            </div>
            
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white text-center p-4">
                    <i class="bi fs-1 bi-boxes"></i>
                    <h5 class="mt-3 fs-6 fw-bold">UI/UX Development</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet</p>
               </div>
            </div>
            
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white text-center p-4">
                    <i class="bi fs-1 bi-boxes"></i>
                    <h5 class="mt-3 fs-6 fw-bold">Web Development</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet</p>
               </div>
            </div>
            
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white text-center p-4">
                    <i class="bi fs-1 bi-boxes"></i>
                    <h5 class="mt-3 fs-6 fw-bold">Android Development</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet</p>
               </div>
            </div>
            
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white text-center p-4">
                    <i class="bi fs-1 bi-boxes"></i>
                    <h5 class="mt-3 fs-6 fw-bold">IOS Developement</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet</p>
               </div>
            </div>
            
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white text-center p-4">
                    <i class="bi fs-1 bi-boxes"></i>
                    <h5 class="mt-3 fs-6 fw-bold">Digital Marketing</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar magna ut bibendum imperdiet</p>
               </div>
            </div>
        </div>
    </div>
    
     <!--########################## Portfolio Starts Here ############################# -->
    
    <div id="portfolio" class="service px-4 bg-white py-5">
         <div class="titie-row row mb-3">
            <h2 class="fw-bolder">Portfolio</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum sit nibh amet egestas tellus.</p>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white p-2">
                    <img src="assets/images/blog/1.jpg" alt="">
                    <h5 class="mt-3 fs-6 fw-bold">Creative Page Design</h5>
               </div>
            </div>
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white p-2">
                    <img src="assets/images/blog/2.jpg" alt="">
                    <h5 class="mt-3 fs-6 fw-bold">Creative Page Design</h5>
               </div>
            </div>
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white p-2">
                    <img src="assets/images/blog/3.jpg" alt="">
                    <h5 class="mt-3 fs-6 fw-bold">Creative Page Design</h5>
               </div>
            </div>
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white p-2">
                    <img src="assets/images/blog/4.jpg" alt="">
                    <h5 class="mt-3 fs-6 fw-bold">Creative Page Design</h5>
               </div>
            </div>
             <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white p-2">
                    <img src="assets/images/blog/5.jpg" alt="">
                    <h5 class="mt-3 fs-6 fw-bold">Creative Page Design</h5>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white p-2">
                    <img src="assets/images/blog/6.jpg" alt="">
                    <h5 class="mt-3 fs-6 fw-bold">Creative Page Design</h5>
               </div>
            </div>
        </div>
    </div>
    
     <!--########################## Portfolio Starts Here ############################# -->
     
     <div id="testimonial" class="service px-4 py-5">
         <div class="titie-row row mb-3">
            <h2 class="fw-bolder">Testimonial</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum sit nibh amet egestas tellus.</p>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white p-3">
                    <div class="prf row mb-3">
                        <div class="col-md-3">
                            <img class="rounded-pill" src="assets/images/testimonial/member-01.jpg" alt="">
                        </div>
                        <div class="col-md-9 align-self-center">
                            <h6 class="mb-0 fw-bolder">Vinoth Parkash</h6>
                            <span>CEO Fabric Nation</span>
                        </div>
                    </div>
                    <div class="det text-center">
                        <p class="fs-7 fst-italic">Sed lectus ante, pharetra in lacus sed, efficitur luctus elit. Suspendisse commodo felis dictum, tempor tortor a, dapibus tellus. Nam ornare felis ut arcu tristique luctus. Curabitur </p>
                    </div>
               </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white p-3">
                    <div class="prf row mb-3">
                        <div class="col-md-3">
                            <img class="rounded-pill" src="assets/images/testimonial/member-03.jpg" alt="">
                        </div>
                        <div class="col-md-9 align-self-center">
                            <h6 class="mb-0 fw-bolder">Jackson Daniel</h6>
                            <span>CEO Notitech</span>
                        </div>
                    </div>
                    <div class="det text-center">
                        <p class="fs-7 fst-italic">Sed lectus ante, pharetra in lacus sed, efficitur luctus elit. Suspendisse commodo felis dictum, tempor tortor a, dapibus tellus. Nam ornare felis ut arcu tristique luctus. Curabitur </p>
                    </div>
               </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove shadow-md rounded bg-white p-3">
                    <div class="prf row mb-3">
                        <div class="col-md-3">
                            <img class="rounded-pill" src="assets/images/testimonial/member-02.jpg" alt="">
                        </div>
                        <div class="col-md-9 align-self-center">
                            <h6 class="mb-0 fw-bolder">Praveen Thaney</h6>
                            <span>Admin Vintech</span>
                        </div>
                    </div>
                    <div class="det text-center">
                        <p class="fs-7 fst-italic">Sed lectus ante, pharetra in lacus sed, efficitur luctus elit. Suspendisse commodo felis dictum, tempor tortor a, dapibus tellus. Nam ornare felis ut arcu tristique luctus. Curabitur </p>
                    </div>
               </div>
            </div>
             
        </div>
    </div>
    
     <!--########################## Blog Starts Here ############################# -->
    
    <div id="blog" class="service px-4 bg-white py-5">
         <div class="titie-row row mb-3">
            <h2 class="fw-bolder">Blog</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum sit nibh amet egestas tellus.</p>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove rounded bg-white p-2">
                    <img src="assets/images/blog/1.jpg" alt="">
                    <div class="p-2">
                        <h5 class="mt-3 fs-7 fw-bold">Top 10 Trends in  Webdesign sit nibh amet  Mauris ipsum sit nibh</h5>
                        <span class="fs-8">22 May 2015</span>
                        <span class="float-end fs-8"><i class="bi bi-person"></i> Sam Anderson</span>
                    </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove rounded bg-white p-2">
                    <img src="assets/images/blog/2.jpg" alt="">
                    <div class="p-2">
                        <h5 class="mt-3 fs-7 fw-bold">Top 10 Trends in  Webdesign sit nibh amet  Mauris ipsum sit nibh</h5>
                        <span class="fs-8">22 May 2015</span>
                        <span class="float-end fs-8"><i class="bi bi-person"></i> Sam Anderson</span>
                    </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
               <div class="serv-cove rounded bg-white p-2">
                    <img src="assets/images/blog/3.jpg" alt="">
                    <div class="p-2">
                        <h5 class="mt-3 fs-7 fw-bold">Top 10 Trends in  Webdesign sit nibh amet  Mauris ipsum sit nibh</h5>
                        <span class="fs-8">22 May 2015</span>
                        <span class="float-end fs-8"><i class="bi bi-person"></i> Sam Anderson</span>
                    </div>
               </div>
            </div>
             
        </div>
    </div>
    
      <!--########################## Contact Us Starts Here ############################# -->
    
    <div class="service px-4 py-5">
         <div class="titie-row row mb-3">
            <h2 class="fw-bolder">Contact Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum sit nibh amet egestas tellus.</p>
        </div>
        <div class="contact-row m-0 mt-5 row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="shadow-md row p-4 m-0 rounded bg-white">
                    <div class="col-md-3 text-center align-self-center">
                        <i class="bi fs-1 bi-headphones"></i>
                    </div>
                    <div class="col-md-9">
                        <h6 class="fs-7 fw-bolder">Phone</h6>
                        <ul>
                            <li>+91 989 8787 878</li>
                            <li>+91 889 1287 978</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="shadow-md row p-4 m-0 rounded bg-white">
                    <div class="col-md-3 text-center align-self-center">
                        <i class="bi fs-1 bi-headphones"></i>
                    </div>
                    <div class="col-md-9">
                        <h6 class="fs-7 fw-bolder">Email</h6>
                        <ul>
                            <li>demo@smarteyeapps.com</li>
                            <li>app@maildeaci.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="shadow-md row p-4 m-0  rounded bg-white">
                    <div class="col-md-3 text-center align-self-center">
                        <i class="bi fs-1 bi-headphones"></i>
                    </div>
                    <div class="col-md-9">
                        <h6 class="fs-7 fw-bolder">Address</h6>
                        <ul>
                            <li>First Floor Vincent Plaza, Kuzhithurai</li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="contact" class="contact-row m-0 row">
            <div class="col-md-6">
                <div class="shadow-md p-4 rounded bg-white">
                    <h4 class="fs-6 fw-bolder mb-3">Contact Form</h4>
                    <form action="">
                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label fw-bolder fs-8">Email address</label>
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email Address">
                        </div>
                         <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label fw-bolder fs-8">Enter Subject</label>
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Subject">
                        </div>
                        <div class="mb-3">
                          <label for="exampleFormControlTextarea1" class="form-label fw-bolder fs-8">Example textarea</label>
                          <textarea class="form-control" placeholder="Enter Message" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="shadow-md p-4 rounded bg-white">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15659.16664494769!2d77.32095495000002!3d11.1288885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1660839868672!5m2!1sen!2sin" style="width:100%" height="340" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>
<router-outlet></router-outlet>