
/* ==================== table ====================== */
.table-outline {
    width: 100%;
}

/* phần chứa header (th) */
.table-header {
    width: 100%;
}

.table-header th {
    color: #333; 
    background-color: #f8f9fa; 
    border-color: #ddd; 
    border-collapse: collapse;
    border: 1px solid #ddd; 
}

.table-header th {
    cursor: pointer;
}


.table-header th,
.table-content td {
    padding: .75rem;
    text-align: center;
    vertical-align: top;

}

/* phần chứa nội dung  */
.table-content {
    min-height: 200px;
    max-height: 550px;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
}

.table-content table {
    width: 100%;
    border-collapse: collapse;
}
.table-content tr {
    border: 1px solid transparent; 
}

.table-content tr:nth-of-type(even) td {
    border: 1px solid #ddd; 
}

.table-content tr:nth-of-type(even) {
    background-color: #f1f1f1;
}
.table-content td {
    position: relative;
    color: #333;
    
}

/* Link chi tiet san pham */
.table-content td a {
    display: block;
    color: 007bff;
}

.table-content td a:hover {
    text-decoration: underline;
}

.button-action
{   
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/*  phần footer table  */
.table-footer {
    background-color: #f8f9fa;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-footer input,
.table-footer button,
.table-footer select {
    padding: 5px 10px;
    border: 3px solid transparent;
    background-color: #f1f1f1;
}

/* Nút bấm ở footer */
.table-footer button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition-duration: .2s;
    border: 1px solid #007bff;
}

.table-footer button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.search-navabar{
    width: 100%;
    background-color: #fff !important;
}

.search-navabar form{
    width: 40%;
    display: flex;
    gap: 4px;
    margin: 5px;
}

.search-navabar form input{
    margin-left: 5px;
}

.search-navabar select{
    width: 20%;
    margin: 5px;
}

/* user-list.component.css */

.no-data-message {
    padding: 20px;
    text-align: center;
    background-color: #f8d7da; /* Background color */
    color: #721c24; /* Text color */
    border: 1px solid #f5c6cb; /* Border color */
    border-radius: 5px; /* Rounded corners */
    margin-top: 20px;
  }
  
  .no-data-message p {
    margin: 0;
    font-size: 18px;
  }
  
  .no-data-message strong {
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
  }
  