<nav class="navbar ta-top" *ngIf="showNavbar">
    <div class="container-fluid px-30">
        <!-- Navbar Header -->
        <div class="navbar-header">
            <h1 class="navbar-brand">
                <a routerLink="">
                    <img src="" alt="LOGO" title="LOGO">
                </a>
            </h1>
        </div>

        <!-- Navbar Left -->
        <ul class="nav navbar-nav navbar-left">
            <!-- Home -->
            <li class="navbar-left__item group">
                <a routerLink="" title="Home" class="nav-link">Home</a>
            </li>

            <!-- Profile -->
            <li class="navbar-left__item group">
                <a routerLink="profile" title="Proflie" class="nav-link">Proflie</a>
            </li>

            <!-- Project -->
            <li class="navbar-left__item group">
                <a routerLink="list-project" title="Project" class="nav-link">Project</a>
            </li>

            <!-- Contact -->
            <li class="navbar-left__item group">
                <a routerLink="" title="Contact" class="nav-link">Contact</a>
            </li>

            <!-- About -->
            <li class="navbar-left__item group">
                <a routerLink="" title="About" class="nav-link">About</a>
            </li>

            <!-- Notification -->
            <li class="navbar-left__item group">
                <a routerLink="" title="Notification" class="nav-link"><i class="bi bi-bell"></i></a>
            </li>



        </ul>

        <!-- Navbar Right -->
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right__item">
                <a class="btn btn-outline-primary" routerLink="login">Đăng nhập</a>
            </li>
            <li class="navbar-right__item">
                <a class="btn btn-primary" routerLink="register">Đăng ký</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet> 




