
/* ==================== table ====================== */
.table-outline {
    width: 100%;
}

/* phần chứa header (th) */
.table-header {
    width: 100%;
}

.table-header th {
    color: #333; 
    background-color: #f8f9fa; 
    border-color: #ddd; 
    border-collapse: collapse;
    border: 1px solid #ddd; 
}

.table-header th {
    cursor: pointer;
}


.table-header th,
.table-content td {
    padding: .75rem;
    text-align: center;
    vertical-align: top;

}

/* phần chứa nội dung  */
.table-content {
    min-height: 200px;
    max-height: 550px;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
}

.table-content table {
    width: 100%;
    border-collapse: collapse;
}
.table-content tr {
    border: 1px solid transparent; 
}

.table-content tr:nth-of-type(even) td {
    border: 1px solid #ddd; 
}

.table-content tr:nth-of-type(even) {
    background-color: #f1f1f1;
}
.table-content td {
    position: relative;
    color: 333;
    
}

/* Link chi tiet san pham */
.table-content td a {
    display: block;
    color: 007bff;
}

.table-content td a:hover {
    text-decoration: underline;
}

.button-action
{   
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}


/*  phần footer table  */
.table-footer {
    background-color: #f8f9fa;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-footer input,
.table-footer button,
.table-footer select {
    padding: 5px 10px;
    border: 3px solid transparent;
    background-color: #f1f1f1;
}

/* Nút bấm ở footer */
.table-footer button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition-duration: .2s;
    border: 1px solid #007bff;
}

.table-footer button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.search-navabar{
    width: 100%;
    background-color: #fff !important;
}

.search-navabar form{
    width: 40%;
    display: flex;
    gap: 4px;
    margin: 5px;
}

.search-navabar form input{
    margin-left: 5px;
}

.search-navabar select{
    width: 20%;
    margin: 5px;
}
#modalTitle
{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 14;
    transition: .2s ease;
    transform: scale(1);
    background-color: #020202d8;
}

.overlayTable {
    margin: 50px auto;
    width: auto;
    background-color: #23282c;
}

.overlayTable td:first-child {
    text-align: right;
}

.overlayTable input {
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    background-color: #e7e7e7;
}

.overlayTable input[type="file"] {
    background-color: transparent;
}

.close {
    /* nút tắt form */
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 3rem;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    color: #aaa;
    cursor: pointer;
    transition: .2s ease;
}

.close:hover {
    color: #fff;
    background-color: #f33;
    border-radius: 50%;
}
.form-group label {
    color: #fff;
}
