<div class="container">
    <div class="title">
        <p>LOGIN</p>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
        <div class="user_details">
            <!-- User Name -->
            <div class="input_box">
                <label for="username">Username</label>
                <input type="text" name="userName" formControlName="userName" id="username" placeholder="Enter your username">
                <div class="alert" *ngIf="(userForm.controls['userName']?.invalid && (userForm.controls['userName']?.touched || userForm.controls['userName']?.dirty))">
                    <div class="text-danger" *ngIf="userForm.controls['userName'].errors?.['required']">
                        Username is required
                    </div>
                </div>
            </div>

            <!-- Password -->
            <div class="input_box">
                <label for="pass">Password</label>
                <input type="password" name="password" formControlName="password" id="pass" placeholder="Enter your password">
                <div class="alert" *ngIf="userForm.controls['password']?.invalid && (userForm.controls['password']?.touched || userForm.controls['password']?.dirty)">
                    <div class="text-danger" *ngIf="userForm.controls['password'].errors?.['required']">
                        Password is required
                    </div>
                </div>
              </div>
            
        </div>

        <div class="reg_btn">
            <button type="submit" [disabled]="userForm.invalid">Login</button>
        </div>
    </form>
</div>
