<div class="container">
    <div class="title">
        <p>LOGIN</p>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
        <div class="user_details">
            <!-- User Name -->
            <div class="input_box">
                <label for="username">Email</label>
                <input type="text" name="email" formControlName="email" id="email" placeholder="Enter your email">
                <div class="alert" *ngIf="(userForm.controls['email']?.invalid && (userForm.controls['email']?.touched || userForm.controls['email']?.dirty))">
                    <div class="text-danger" *ngIf="userForm.controls['email'].errors?.['required']">
                        Email is required
                    </div>
                    <div class="text-danger" *ngIf="userForm.controls['email'].errors?.['invalidCredentials']">
                        Invalid email or password
                    </div>
                    <div class="text-danger" *ngIf="userForm.controls['email'].errors?.['emailNotFound']">
                        Email not found
                    </div>
                </div>
            </div>

            <!-- Password -->
            <div class="input_box">
                <label for="pass">Password</label>
                <input type="password" name="password" formControlName="password" id="pass" placeholder="Enter your password">
                <div class="alert" *ngIf="userForm.controls['password']?.invalid && (userForm.controls['password']?.touched || userForm.controls['password']?.dirty)">
                    <div class="text-danger" *ngIf="userForm.controls['password'].errors?.['required']">
                        Password is required
                    </div>
                </div>
              </div>
            
        </div>

        <div class="reg_btn">
            <button type="submit" [disabled]="userForm.invalid">Login</button>
        </div>
    </form>
</div>
