<!-- profile-form.component.html -->
<div>
    <label for="objective">Objective:</label>
    <input type="text" id="objective" [(ngModel)]="profile.objective">
  </div>
  <div>
    <label for="education">Education:</label>
    <input type="text" id="education" [(ngModel)]="profile.education">
  </div>
  <div>
    <label for="workExperience">Work Experience:</label>
    <input type="text" id="workExperience" [(ngModel)]="profile.workExperience">
  </div>
  <div>
    <label for="skills">Skills:</label>
    <input type="text" id="skills" [(ngModel)]="profile.skills">
  </div>
  <div>
    <label for="typeProfile">Type Profile:</label>
    <input type="text" id="typeProfile" [(ngModel)]="profile.typeProfile">
  </div>
  
  <div>
    <button (click)="sendProfile()">Send Profile</button>
  </div>
  