<div class="container-1">
    <div class="search-navabar d-flex flex-row">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search"
                aria-label="Search" name="searchTerm">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <select class="form-select" aria-label="Default select example"
            name="searchCriteria">
            <option value="id" selected>Id</option>
            <option value="name">IdHr</option>
            <option value="email">Type</option>
        </select>
        <div class="table-footer">
            <button><i class="fa fa-plus-square"></i> Create Job</button>
        </div>
    </div>

    <div *ngIf="jobs.length>0; else noJobs" class="row" [ngStyle]="{'margin-top': '100px'}">
        <div *ngFor="let job of jobs" class="job-card">
            <div class="job-header">
                <h3 class="job-title">Title: {{job.title}}</h3>
                <span class="job-type">Full-Time</span>
            </div>
            <p class="job-size">Team Size: {{job.size}}</p>
            <div class="job-actions">
                <a class="btn apply-btn">Apply</a>
                <a class="btn details-btn">Details</a>
            </div>
        </div>
    </div>
    <ng-template #noJobs>
        <div class="no-data-message">
            <p><strong>No data found!!</strong></p>
            <p>We have nothing to show here. Try searching again or adding a new user!</p>
        </div>
    </ng-template>
</div>