<div class="sanpham">
    <div class="search-navabar d-flex flex-row">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>
    <table class="table-header">
        <colgroup>
            <col [ngStyle]="{'width': '5%'}">
            <col [ngStyle]="{'width': '10%'}">
            <col [ngStyle]="{'width': '15%'}">
            <col [ngStyle]="{'width': '40%'}">
            <col [ngStyle]="{'width': '15%'}">
        </colgroup>
        <thead>
            <tr>
                <th title="Số thứ tự">Stt</th>
                <th title="Mã project">Mã</th>
                <th title="Username">Username</th>
                <th title="Email">Email</th>
                <th title="Password">Password</th>
                <th title="Action">Action</th>
            </tr>
        </thead>
    </table>

    <div class="table-content">
        <table>
            <colgroup>
                <col [ngStyle]="{'width': '5%'}">
                <col [ngStyle]="{'width': '10%'}">
                <col [ngStyle]="{'width': '15%'}">
                <col [ngStyle]="{'width': '40%'}">
                <col [ngStyle]="{'width': '15%'}">
            </colgroup>
            <tbody>
                <tr *ngFor="let job of jobs; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ job.id }}</td>
                    <td>{{ job.title }}</td>
                    <td>{{ job.size }}</td>
                    <td>{{job.typeJob}}</td>
                    <td><button class="btn btn-primary">Details</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>