<div class="container-1">
    <div class="search-navabar d-flex flex-row">
        <h2>Employee</h2>
    </div>
    <div *ngIf="jobs.length > 0">
        <div *ngFor="let job of jobs">
            <h2 *ngIf="jobUsersMap?.get(job.id!)?.length ?? 0 > 0">Location: {{ job.title }}</h2>

            <table class="table-header" *ngIf="jobUsersMap?.get(job.id!)?.length ?? 0 > 0">
                <colgroup>
                    <col [ngStyle]="{'width': '5%'}">
                    <col [ngStyle]="{'width': '10%'}">
                    <col [ngStyle]="{'width': '15%'}">
                    <col [ngStyle]="{'width': '40%'}">
                </colgroup>
                <thead>
                    <tr>
                        <th title="Số thứ tự">Id</th>
                        <th title="Mã project">Mã</th>
                        <th title="Username">Full Name</th>
                        <th title="Email">Email</th>
                        <th title="Action">Action</th>
                    </tr>
                </thead>
            </table>
            <div class="table-content">
                <div *ngIf="jobUsersMap.get(job.id!)?.length === 0" class="no-data-message">
                    <p><strong>No data found!!</strong></p>
                    <p>We have nothing to show here. Try searching again or adding a new user!</p>
                </div>
                <table *ngIf="jobUsersMap?.get(job.id!)?.length ?? 0 > 0">
                    <colgroup>
                        <col [ngStyle]="{'width': '5%'}">
                        <col [ngStyle]="{'width': '10%'}">
                        <col [ngStyle]="{'width': '15%'}">
                        <col [ngStyle]="{'width': '40%'}">
                    </colgroup>
                    <tbody>
                        <tr *ngFor="let user of jobUsersMap.get(job.id!); let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td class="button-action">
                                <button class="btn btn-primary">Update</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>