<nav class="navbar navbar-expand-lg ta-top">
    <!-- Navbar Toggler for Mobile View -->
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="container-fluid px-30">
        <!-- Navbar Header -->
        <div class="navbar-header">
            <h1 class="navbar-brand">
                <a routerLink="home">
                    <img src="" alt="LOGO" title="LOGO">
                </a>
            </h1>
        </div>

        <!-- Navbar Left -->
        <div class="navbar-left" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Home -->
                <li class="navbar-left__item group">
                    <a routerLink="" title="Home" class="nav-link">Home</a>
                </li>

                <!-- Contact -->
                <li class="navbar-left__item group">
                    <a routerLink="job-list" title="Contact" class="nav-link">Job</a>
                </li>

                <!-- Profile -->
                <li class="navbar-left__item group">
                    <a [routerLink]="['/profile/profile-user', idProfileNumber]" title="Proflie" class="nav-link">My Proflie</a>
                </li>

                <!-- Project -->
                <li class="navbar-left__item group">
                    <a routerLink="list-project" title="Project" class="nav-link">My Project</a>
                </li>

                <!-- About -->
                <li class="navbar-left__item group">
                    <a routerLink="" title="About" class="nav-link">About</a>
                </li>

                <!-- Notification -->
                <li class="navbar-left__item group position-relative">
                    <a (click)="toggleNotifications()" title="Notification" class="nav-link">
                        <i class="bi bi-bell"></i>
                    </a>

                    <app-notification *ngIf="showNotifications"></app-notification>
                </li>



            </ul>
        </div>

        <!-- Navbar Right -->
        <ul class="nav navbar-nav mb-2 mb-lg-0 navbar-right">
            <li class="navbar-right__item" *ngIf="!userCurrent">
                <a class="btn btn-outline-primary" routerLink="login">Đăng nhập</a>
            </li>
            <li class="navbar-right__item" *ngIf="!userCurrent">
                <a class="btn btn-primary" routerLink="register">Đăng ký</a>
            </li>
            <li class="navbar-right__item" *ngIf="userCurrent">
                <a class="btn btn-primary" (click)="logout()">Đăng xuất</a>
            </li>
            <li class="navbar-right__item" *ngIf="userCurrent">
                <span class="nav-link">Hello, {{ userCurrent }}</span>
            </li>
            
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>